<app-add-todo-form (addToDoTask)="addToDo($event)"></app-add-todo-form>
<app-alert *ngIf="errorMessage" [errorMessage]="errorMessage" (clearMessage)="clearErrorMessage()"></app-alert>

<div class="mt-5">
  <h4>Zadania:</h4>
  <ul class="list-group todos-list" *ngIf="todos.length > 0">
  <ng-container *ngFor="let todo of todos; let i = index">
    <app-todo [todo]="todo" [i] = "i" [id]="todo.id" (delete)="deleteTodo(todo.id)" (changeStatus)="changeTodoStatus($event, todo)"></app-todo>
  </ng-container>
  </ul>
  <h5 *ngIf="todos.length === 0">Brak zadań ...</h5>
</div>
