<div class="flex justify-center">
    <div class="bg-blue-400 rounded-b-xl w-1/2 p-5 text-white flex justify-between items-center">
        <div>
           <h1 class="text-3xl font-bold">Mini CRM</h1>
        </div>
        <ul class="flex justify-around gap-5">
            <li>
              <a routerLink=""
              routerLinkActive="font-bold underline text-yellow-500"
              [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li>
              <a routerLink="/contacts"
                 routerLinkActive="font-bold underline text-yellow-500"
              >Contacts</a>
            </li>
        </ul>
    </div>

</div>
