<div class="flex justify-center"  *ngIf="!isFormOpen">
  <button type="button" class="bg-amber-300 p-3 rounded-2xl text-amber-600 font-bold cursor-pointer" (click)="toggleModal()">Show form</button>
</div>
<div class="flex justify-center"  *ngIf="isFormOpen">
  <button type="button" class="bg-orange-300 p-3 rounded-2xl text-orange-600 font-bold cursor-pointer" (click)="toggleModal()">Close form</button>
</div>
<app-add-contact *ngIf="isFormOpen"></app-add-contact>


<div class="flex flex-row gap-10 justify-center mt-10">
  <div *ngFor="let contact of initialData" class="bg-gray-300 p-5 rounded-lg mb-5">
      <p>
        <span class="text-blue-500 font-bold">First name:</span> {{contact.firstName}}
      </p>
      <p>
        <span class="text-orange-500 font-bold">Last name:</span> {{contact.lastName}}
      </p>
      <p>
        <span class="text-purple-500 font-bold">Phone number:</span> {{contact.phoneNumber}}
      </p>
      <p>
        <span class="text-pink-500 font-bold">E-mail:</span> {{contact.email}}
      </p>
      <p>
        <span class="text-yellow-500 font-bold">Status: </span>
        <span [ngClass]="{'text-green-500': contact.isAvailable, 'text-red-500': !contact.isAvailable}">{{contact.isAvailable ? 'Available' : 'Not available'}}</span>
      </p>
    <div class="flex justify-between mt-5">
      <button type="button" class="bg-blue-200 p-2 rounded-lg text-blue-500 cursor-pointer" (click)="onChangeStatus(contact)">Change status</button>
      <button type="button" class="bg-red-200 p-2 rounded-lg text-red-500 cursor-pointer" (click)="onDelete(contact)">Delete</button>
    </div>

    </div>
</div>
