<form #form="ngForm" (ngSubmit)="addToDo(form)">
  <p class="mt-4">Dodaj nowe zadanie</p>
  <input type="text" required minlength="4" maxlength="50" appFirstLetter [(ngModel)]="todoName" class="form-control" name="todo" >
  <ng-container *ngIf="form.controls['todo']?.invalid && (form.controls['todo']?.touched || form.controls['todo'].dirty)" >
    <app-alert *ngIf="form.controls['todo']?.errors?.['required']" [errorMessage]="'Ta kontrolka nie może być pusta'"></app-alert>
    <app-alert *ngIf="form.controls['todo']?.errors?.['minlength'] && !form.controls['todo']?.errors?.['firstLetter']" [errorMessage]="'Ta kontrolka musi mieć minimum 4 znaki'"></app-alert>
    <app-alert *ngIf="form.controls['todo']?.errors?.['maxlength']" [errorMessage]="'Ta kontrolka może mieć maksimum 50 znaków'"></app-alert>
    <app-alert *ngIf="form.controls['todo']?.errors?.['firstLetter']" [errorMessage]="'Ta kontrolka musi zaczynać się od litery'"></app-alert>
  </ng-container>

  <button type="submit" class=" btn btn-primary mt-3" [disabled]="!form.valid">Dodaj zadanie</button>
</form>
